<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Wolf Bulletin</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Gaming</li>
          <li class="active"><a href="#">Latest Releases</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Previews</a></li>
          <li class="nav-header">Technology</li>
          <li><a href="#">Hardware</a></li>
          <li><a href="#">Software</a></li>
          <li class="nav-header">Science</li>
          <li><a href="#">Physics</a></li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <div class="hero-unit">
        <h1>Welcome to Wolf Bulletin!</h1>
        <p>
          Wolf Bulletin - The UK's best source for the latest tech news.
          <br/>
          Comprising of articles on technology, games, tech related science and blogs from CGI artists, you will never be not in the know!
        </p>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
      </div>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Wolf Bulletin 2012</p>
  </footer>

</div>