<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <%= render_navigation :context => :category, :expand_all => :true %>
    </div>
  </div>
  <div class="span9">
    <div class="hero-unit">
      <h1>Welcome to Wolf Bulletin!</h1>
      <p>
        Wolf Bulletin - The UK's best source for the latest tech news.
        <br/>
        Comprising of articles on technology, games, tech related science and blogs from CGI artists, you will never be not in the know!
      </p>
      <p><a class="btn btn-primary btn-large">Learn more »</a></p>
    </div>
  </div>
</div>